/* 首页样式 */

#componentList{
	padding:15px;
	border:5px dashed #ccc;
	overflow:hidden;
}
#targetDiv  
{  
	border: 5px dashed #ccc;  
	min-height: 100px;  
	padding: 10px;  
	margin-top:10px;
	height:700px;
	overflow:hidden;
}  
.dragComponent{
	border:3px solid #ddd;
	width:100px;
	height:60px;
	
}
.l{float:left;}
.cls{clear:both;overflow:hidden;height:0px;}