/* 首页样式 */

#componentList{
	/*padding:15px;
	border:5px dashed #ccc;
	overflow:hidden;*/
}
#targetDiv  
{  
	border: 5px dashed #ccc;  
	min-height: 700px;  
	padding: 10px;
	overflow:hidden;
}  
.dragComponent{
	border:1px solid #ddd;
	font-size:12px;
	padding:3px 5px;
	text-align:center;
	margin:2px;
	cursor:move;
	/*display:inline-block;*/
	
}
.l{float:left;}
.cls{clear:both;overflow:hidden;height:0px;}


.dragHover{
    border:1px dashed red !important;
}

.drogHover{
    border:1px dashed green !important;
}



